
<div class='row'>
  <div class='twelve columns'>

    <% @school.errors.full_messages.each do |msg| %>
      <p class='form-error'> <%= msg %> </p>
    <% end %>

    <%= form_for(@school) do |f| %>
      <div class='row'>
        <div class='three columns'>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'input-field name', placeholder: "Broward Elementary" %>
        </div>

        <div class='three columns'>
          <%= f.label :motto %>
          <%= f.text_field :motto, class: 'input-field motto', placeholder: "We will rock you" %>
        </div>

        <div class='three columns'>
          <%= f.label :location %>
          <%= f.select :location, options_for_select([ ['United States of America', 'usa'],
                                                       ['United Kingdom', 'uk'],
                                                       ["The Iron Nation", 'tiy'] ], selected: @school.location), { include_blank: true }, class: 'select-field location' %>

        </div>
      </div>
      <div class='row'>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
