<h2><%= @post.title %><small><%= 'published' if @post.published? %></small></h2>
<h4><small>Author:  <%= @post.author_name %></small></h4>
<h4><small>Editors:  <%= @post.collaborators.map(&:name).join(", ") %></small></h4>
<% if @post.id > 1 %>
  <%= link_to "Previous Post", post_path(@post.prev), class: 'btn btn-default' %>
<% else %>
  <%= link_to "Last Post", post_path(@post.prev), class: 'btn btn-default' %>
<% end %>

<% if @post.id < Post.count %>
  <%= link_to "Next Post", post_path(@post.next), class: 'btn btn-default' %>
<% else %>
  <%= link_to "First Post", post_path(@post.next), class: 'btn btn-default' %>
<% end %>

<% if signed_in? && user_is_owner_or_editor?(@post) %>
  <% unless @post.published? %>
    <%= link_to "PUBLISH", publish_post_path(@post), method: :PUT, class: 'btn btn-info btn-large' %>
  <% end %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-success' %>

  <% if user_is_owner?(@post) %>
    <span class='spacer'></span>
    <%= link_to "Destroy", post_path(@post), method: :DELETE, data: { confirm: "Are you sure you want to delete this post?" }, class: 'btn btn-danger' %>
    <span class='spacer'></span>
    <%= link_to "Add Collaborator", add_collaborator_post_path(@post), class: 'btn btn-default'%>
  <% end %>
<% end %>

<hr />
<section class='post'>
  <%= @post.body %>
</section>
<section class='comments'>
  <h3>Comments (<%= @comments.count %>) <%= link_to "New Comment", new_post_comment_path(@post), class: 'btn btn-default' %></h3>
  <hr />
  <% @comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>
</section>
