<h2>User #<%= user.id %></h2>
<p><%= user.name %> (<%= user.username %>)</p>

<%= link_to "New Wit for User", new_user_wit_path(user) %>

<h3>Wits for User</h3>
<ul>
  <% user.wits.each do |wit| %>
    <li><%= wit.message %> (<%= wit.published ? '' : 'Not ' %> Published)</li>
  <% end %>
</ul>
