<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-md-6'>
    <h2><%= @item.name %></h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-4'>
    <%= image_tag(@item.img_url) %>
  </div>
  <div class='col-md-4'>
    <h3><%= "$" + (@item.price / 100).to_s %><small>Quantity:<%= @item.quantity %></small></h3>

    <p><%= @item.description %></p>

    <div class='checkout-button'>
      <%= link_to('Add To Cart', add_to_cart_path(@item),
          class: 'btn btn-primary btn-large',
          method: :POST) %>
    </div>
  </div>
</div>
