<!DOCTYPE html>
<html>
<head>
  <title>Bloggr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class='navbar navbar-default'>
  <ul class="nav navbar-nav navbar">
    <% if signed_in? %>
      <li> <%= link_to "Write a New Post", new_post_path, class: "btn btn-default" %> </li>
      <li> <%= link_to "Sign Out", sign_out_path, method: :DELETE, class: "btn btn-danger" %> </li>
    <% else %>
      <li> <%= link_to "Sign In", sign_in_path, class: "btn btn-primary" %> </li>
      <li> <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %> </li>
    <% end %>
  </ul>
</nav>
<% if current_user %> Hello <%= current_user.name %> <% end %>

<div class='container'>
  <%= flash[:notice] %>
  <%= flash[:alert] %>

  <%= yield %>

  <footer>
    <p>First Viewed Post: <em><%= cookies[:first_post] %></em></p>
    <p>Last Viewed Post: <em><%= cookies[:last_post] %></em></p>
  </footer>
</div>

</body>
</html>
