<h1>Create a new account</h1>

<%= form_for(@user) do |f| %>
  <div class='row'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class='row'>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class='row'>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class='row'>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class='row'>
    <%= f.submit %>
  </div>
<% end %>
