<div class='row'>
  <div class='col-sm-6'>
    <div class='row underline'>
      <div class='col-sm-12'>
        <h2 class='center'>Top Users</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <ul>
          <% @top_users.each do |user| %>
            <li>
              <%= link_to user_path(user) do %>
                <%= user.username %> | <%= user.posts.count %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='row underline'>
      <div class='col-sm-12'>
        <h2 class='center'>Recent Posts</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <section class='card-gutter'>
          <% @recent_posts.each do |post| %>
            <%= link_to post, class: 'card-header' do %>
              <div class='card'>
                <%= post.title %>
              </div>
            <% end %>
          <% end %>
        </section>
        <%= link_to 'App Posts', posts_path %>
      </div>
    </div>
  </div>
</div>
