<!DOCTYPE html>
<html>
  <head>
    <title><%= local_assigns[:title] || "Blogger" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main-header">
      <h1>Blogger</h1>
      <%= render "shared/nav" %>
    </header>
    <section class='content'>
      <%= yield %>
    </section>
    <footer>
      <small>Made with ♥ </small>
    </footer>
  </body>
</html>
