<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poll.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poll.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @poll.user %>
</p>

<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
